<html>
    <head>
        <title>Stuti's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Hi my name is Stuti and I love coding. I like teaching GWC. I miss studying math at Mizzou aswell. But I think I will miss Bay Area once I leave in a month</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>I am watching a movie right now while doing coding</p>
        </div>
    </body>
</html>
